@import '../../../styles/variables.scss';

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $dark-500;
	margin-bottom: 16px;
	cursor: pointer;
	color: $dark-900;

	.Left {
		display: flex;
		gap: 16px;
		align-items: center;

		p {
			font-weight: 500;
		}
	}

	.Right {
		display: flex;
		align-items: center;

		p {
			font-size: 14px;
			color: $blue;
		}
	}

	.Avatar {
		margin: 16px auto;
		position: relative;
		width: 40px;
		height: 40px;

		.Image {
			border-radius: 9999px;
		}
	}
}

.Content {
	color: $dark-900;
}

.Cover {
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
	border-radius: $radius;
	margin-bottom: 16px;
}

.Tags {
	margin: 16px 0 16px 0;
	display: flex;
	gap: 8px;

	.Tag {
		background: $gradient-blue-cyan;
		padding: 4px;
		border-radius: $radius;
		font-size: 12px;

		a {
			color: $white;
		}
	}
}

.Footer {
	border-top: 1px solid $dark-500;
	margin-top: 16px;
	padding-top: 16px;
	display: flex;
	align-items: center;
	gap: 16px;

	.Action {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 14px;
		color: $dark-900;
		cursor: pointer;
		transition: .2s;
		
		&:hover {
			color: $dark-700;
		}
	}

	.Like {
		width: 24px;
	}
}

.HtmlContent {
	img {
		border-radius: $radius;
		width: 100%;
	}

	h1, h2 {
		font-weight: 500;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	span.ql-size-small {
		font-size: 10px !important;
	}

	span.ql-size-large {
		font-size: 16px !important;
	}

	span.ql-size-huge {
		font-size: 18px !important;
	}

	strong {
		font-weight: 500;
	}

	em {
		font-style: italic;
	}

	blockquote {
		border-left: 4px solid silver;
		padding-left: 8px;
	}

	ol {
		margin-left: 16px;
		list-style: revert;
	}

	ul {
		margin-left: 16px;
		list-style: revert;
	}
}

.Button {
	background: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	font-family: $font;
	color: $dark-900;
	transition: .2s;

	&:hover {
		opacity: .8;
	}
}