@import '../mixins.scss';

.LoadMore {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 16px;
  margin-bottom: 16px;
}

.Feed {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.RelationsFeed {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @include breakpoint(laptop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

