@import '../../../styles/mixins.scss';

.ThreeColumnLayout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;

  @include reverse-breakpoint(laptop) {
    grid-template-columns: 1fr;

  }
}